<div class="w-full h-screen flex flex-col sm:flex-row">
  <!-- Colonne gauche  -->
  <div class="h-full flex-grow sm:max-w-[50%] flex flex-col">
    <svg class="m-5 h-20 w-20 fill-background-light stroke-primary-default">
      <use xlink:href="assets/img/symbol-defs.svg#logo1"></use>
    </svg>
    <div class="ml-5 text-primary-default capitalize font-extrabold">{{"erreur-501" | translate}}</div>
    <div class="ml-5 text-neutral-dark font-extrabold text-2xl">{{"not-ye-implemented" | translate}}</div>
    <div class="ml-5 text-neutral-default">{{"not-ye-implemented-msg" | translate}}</div>
    <a href="/" class="m-5 text-primary-dark">{{"bask-to-start" | translate}} -></a>
  </div>
  <!-- Colonne droite  -->
  <div class="h-full flex-grow sm:max-w-[50%] flex justify-center overflow-hidden">
    <img class="h-full max-w-none" src="assets/img/hop-on-the-division-the-division.gif" />
  </div>
</div>
